.homepage-hero-image-wrapper div:first-child,
.homepage-hero-image-wrapper .cmp-image,
.homepage-hero-image-wrapper .cmp-image__image {
  width: 100%;
  height: 100%;
}

.homepage-hero-image-wrapper .cmp-image__image {
  object-fit: cover;
}

.homepage-hero-image-wrapper .cmp-image__title {
  display: none;
}
